.container {
  display: flex;
  flex-wrap: wrap;
}



.header__menu {
  display: none;
}

@media only screen and (min-width: 550px) {
  .title2{
  display: none;
}
}


@media only screen and (max-width: 549px) {
  #map {
    left:0;
    top:50px;
  }

  .title2 {
    width:550px;
    height:50px;
    background-color: #05090c;
    padding-top: 10px;
  }

  .title1{
    display: none;
  }
  
  .side-bar {
    z-index: 10;
    
    width: 350px;
    height: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, -300px);
    transform: translate(0, -300px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .side-bar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
/*  .list {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }*/
  #menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}